.container {
  max-height: 600px;
  min-height: 300px;
  width: 250px;
  border: 2px solid rgba(0,0,0,0.3);
  border-radius: 2px;
  background: white;
}
body {
  font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
  font-size: 100%;
}
#status {
  /* avoid an excessively wide status text */
  white-space: pre;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 400px;
}
.patient-list {
  max-height: 250px;
  overflow-y: scroll;
  overflow-x: hidden;
  max-width: 100%;
}
